name: Website to YouTube Live

on:
  workflow_dispatch:

jobs:
  live:
    runs-on: ubuntu-latest
    timeout-minutes: 350

    steps:
      - name: Install system packages
        run: |
          sudo apt update
          sudo apt install -y ffmpeg xvfb chromium-browser

      - name: Start virtual display
        run: |
          Xvfb :99 -screen 0 720x1280x24 &
          sleep 5

      - name: Open website
        run: |
          export DISPLAY=:99
          chromium-browser \
            --no-sandbox \
            --disable-dev-shm-usage \
            --disable-gpu \
            --autoplay-policy=no-user-gesture-required \
            --window-size=720,1280 \
            --kiosk \
            --hide-scrollbars \
            "https://macsavasi.github.io/macsavasi/?key=${{ secrets.YT_API_KEY }}" &
          sleep 10

      - name: Stream to YouTube
        env:
          YT_KEY: ${{ secrets.YT_KEY }}
        run: |
          ffmpeg -re \
            -f x11grab -video_size 720x1280 -framerate 30 -i :99 \
            -f lavfi -i anullsrc \
            -c:v libx264 -preset veryfast -pix_fmt yuv420p \
            -b:v 1800k -maxrate 1800k -bufsize 3600k \
            -g 60 \
            -c:a aac -b:a 128k \
            -f flv \
            rtmp://a.rtmp.youtube.com/live2/$YT_KEY
