name: Website to YouTube Live

on:
  workflow_dispatch:

jobs:
  live:
    runs-on: ubuntu-latest
    timeout-minutes: 350

    steps:
      - name: Install system packages
        run: |
          sudo apt update
          sudo apt install -y ffmpeg xvfb chromium-browser x11-utils fonts-dejavu-core

      - name: Start live stream
        env:
          YT_KEY: ${{ secrets.YT_KEY }}
        run: |
          export DISPLAY=:99

          Xvfb :99 -screen 0 720x1280x24 &
          sleep 5

          chromium-browser \
            --no-sandbox \
            --disable-dev-shm-usage \
            --disable-gpu \
            --autoplay-policy=no-user-gesture-required \
            --window-size=720,1280 \
            --kiosk \
            --hide-scrollbars \
            "https://macsavasi.github.io/macsavasi/" &

          sleep 10

          ffmpeg -re \
  -f x11grab -video_size 720x1280 -framerate 30 -i :99 \
  -f lavfi -i anullsrc=channel_layout=stereo:sample_rate=44100 \
  -c:v libx264 \
  -preset veryfast \
  -profile:v high \
  -level 4.2 \
  -pix_fmt yuv420p \
  -r 30 \
  -g 60 \
  -keyint_min 60 \
  -sc_threshold 0 \
  -b:v 1800k \
  -maxrate 1800k \
  -bufsize 3600k \
  -c:a aac \
  -b:a 128k \
  -ar 44100 \
  -f flv \
  rtmp://a.rtmp.youtube.com/live2/$YT_KEY
