name: Website to YouTube Live

on:
  workflow_dispatch:

jobs:
  live:
    runs-on: ubuntu-latest
    timeout-minutes: 350

    steps:
      - name: Install system packages
        run: |
          sudo apt update
          sudo apt install -y ffmpeg xvfb chromium-browser x11-utils fonts-dejavu-core

      - name: Start live stream
        env:
          YT_KEY: ${{ secrets.YT_KEY }}
        run: |
          export DISPLAY=:99

          # DİKEY SANAL EKRAN
          Xvfb :99 -screen 0 720x1280x24 &
          sleep 5

          # WEBSİTEYİ AÇ
          chromium-browser \
            --no-sandbox \
            --disable-dev-shm-usage \
            --disable-gpu \
            --autoplay-policy=no-user-gesture-required \
            --window-size=720,1280 \
            --kiosk \
            --hide-scrollbars \
            "https://macsavasi.github.io/macsavasi/" &

          sleep 10

          # CANLI YAYIN (GÖRÜNTÜ + TELİFSİZ RADYO)
          ffmpeg -re -fflags nobuffer \
  -f x11grab -video_size 720x1280 -framerate 30 -i :99 \
  -i https://ice4.somafm.com/groovesalad-128-mp3 \
  -map 0:v:0 -map 1:a:0 \
  -c:v libx264 -preset veryfast -pix_fmt yuv420p \
  -b:v 1800k -maxrate 1800k -bufsize 3600k \
  -g 60 -keyint_min 60 \
  -c:a aac -ar 44100 -ac 2 -b:a 128k \
  -af "aresample=async=1:first_pts=0,volume=0.6" \
  -f flv \
  rtmp://a.rtmp.youtube.com/live2/$YT_KEY
